body {
    height: 100vh; /* Set the height to 100% of the viewport height */
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #11998e, #38ef7d);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 55vh;
    opacity: 1; /* Corrected the opacity value (1 instead of 10) */
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    width: 100%;
    background: rgba(255, 255, 255, 0.40);
    transform-style: preserve-3d;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.content{
    width: 73%;
}
#header{
    text-align: center;
    font-size: 2.5rem;
}
#inputBox{
    height: 2rem;
    display: flex;
    align-items: center;
}
#inputtask{
    height: 100%;
    width: 80%;
    padding-left: 1vw;
    /* margin-right: 3px; */
    border-radius: 3px 0 0 3px;
    border: 0px solid rgb(254, 254, 255);
}
#addTask{
    height: 5.7vh;
    width: 5.7vh;
    margin: 0px;
    border-radius: 0 3px 3px 0;
    background: rgb(255, 255, 255);
    transition: background-color 0.5s ease;
}
#addTask:hover{
    background-color: rgb(172, 172, 239);
}

#tasks {
    list-style-type: none;
    overflow: hidden;
    overflow-y: auto;
    margin: 0;
    display: flex;
    flex-grow: 1;
    text-align: start;
    flex-direction: column;
    padding: 0;
    max-height: 195px; /* Set a maximum height */
}

#tasks::-webkit-scrollbar {
    width: 0em; /* Width of the scrollbar */
    background-color: #eee; /* Color of the scrollbar track */
}

.taskanddelete {
    display: flex;
    align-items: center;
    margin-top: 7px;
    margin-left: 0;
}

.task {
    display: inline-block;
    border-radius: 3px 0px 0px 3px;
    padding: 7px 3px 7px 3px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: column; /* Set to column */
    align-items: start; /* Align text to start */
    background-color: rgb(169, 213, 231);
    width: 200px; /* Set a fixed width */
    box-sizing: border-box; /* Include padding and border in the width */
    overflow: hidden; /* Hide overflowing content */
}


.deleteimg {
    border-radius: 0 3px 3px 0;
    height: 2rem;
    width: 2rem;
}

#footer{
    width: 87%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#taskdata{
    font-size: 1rem;
}
#clearbtn{
    background: rgb(159, 159, 234);
    border: 1.5px solid black;
    border-radius: 2px;
    transition: background-color 0.5s ease;
}
#clearbtn:hover{
    background-color: rgb(6, 6, 115);
    color: aqua;
}

